/bin/Release/as-IN/Chess_Game.resources.dll
/bin/Release/Chess_Game.exe
/bin/Release/Chess_Game.exe.config
/bin/Release/Chess_Game.pdb
/bin/Release/en/Chess_Game.resources.dll
/bin/Release/hu-HU/Chess_Game.resources.dll
/obj/Release/as-IN/Chess_Game.resources.dll
/obj/Release/Chess_Game.BaseDialog.as-IN.resources
/obj/Release/Chess_Game.BaseDialog.en.resources
/obj/Release/Chess_Game.BaseDialog.hu-HU.resources
/obj/Release/Chess_Game.BaseDialog.resources
/obj/Release/Chess_Game.csproj.CoreCompileInputs.cache
/obj/Release/Chess_Game.csproj.FileListAbsolute.txt
/obj/Release/Chess_Game.csproj.GenerateResource.cache
/obj/Release/Chess_Game.csprojAssemblyReference.cache
/obj/Release/Chess_Game.exe
/obj/Release/Chess_Game.Gui.GameDialog.resources
/obj/Release/Chess_Game.pdb
/obj/Release/Chess_Game.Properties.Resources.resources
/obj/Release/en/Chess_Game.resources.dll
/obj/Release/hu-HU/Chess_Game.resources.dll
/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
